In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("anime.csv")

In [4]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [21]:
df.shape

(50, 3)

In [22]:
df.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [51]:
def extract_eps(txt):
    check = False
    data = ""
    
    for i in txt:
        if i == ")":
            check = False
            return data
        if check == True:
            data += i
        if i == "(":
            check = True
    return data

In [52]:
df["Episodes"] = df["Title"].apply(extract_eps)

In [54]:
df["Episodes"] = df["Episodes"].str.replace(" eps", "")

In [60]:
type(df.loc[0]["Episodes"])

numpy.int64

In [58]:
df["Episodes"] = df["Episodes"].astype(int)

In [62]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [63]:
# make a new column for timestamps

In [78]:
df.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [100]:
# def timestamp(txt):
#     check = False
#     time = ""
#     for i in txt:
#         if check == True:
#             if i == ",":
#                 check = False
#                 break
#             else:
#                 if len(time) != 19:
#                     time += i
#         if i == ")":
#             check = True
#     return time

def extract_time(txt):
    check = False
    data = ""
    for i in range(len(txt)):
        if txt[i] == ")":
            for j in range(i+1, i+20):
                data += txt[j]

            return data

In [103]:
df["Total Time"] = df['Title'].apply(extract_time)

In [108]:
df.drop(columns="Timestamps", inplace=True)

In [109]:
df.head()

,Rank,Title,Score,Episodes,Total Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [110]:
def calculate_total_months(time_str):
    try:
        start_str, end_str = time_str.split(" - ")
        
        start = pd.to_datetime(start_str, format="%b %Y")
        end = pd.to_datetime(end_str, format="%b %Y")
        
        # Difference in months (+1 for inclusive count)
        total_months = (end.year - start.year) * 12 + (end.month - start.month) + 1
        return total_months
    except Exception:
        return None 
        
df["Total Months"] = df["Total Time"].apply(calculate_total_months)

In [113]:
df.head()

,Rank,Title,Score,Episodes,Total Time,Total Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [122]:
# Which anime has the highest score

df[df['Score'] == df['Score'].max()]

,Rank,Title,Score,Episodes,Total Time,Total Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,16

In [124]:
# Anime has the highest episodes

df[df['Episodes'] == df['Episodes'].max()]

,Rank,Title,Score,Episodes,Total Time,Total Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48

In [139]:
# animes with top 5 episodes count

df.sort_values(by="Episodes",ascending=False).head()

,Rank,Title,Score,Episodes,Total Time,Total Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,36
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,18
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,18

In [140]:
# Which is the longest running anime

df[df['Total Months'] == df['Total Months'].max()]

,Rank,Title,Score,Episodes,Total Time,Total Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111