In [21]:
import numpy as np

**Valid Sudoku**

In [22]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [23]:
arr = np.sum(s,axis=1)

for i in arr:
    if i != 45:
        print("For rows Sudoku is not valid!")
        break
else:
    print("For rows Sudoku is valid!")

For rows Sudoku is valid!

In [4]:
arr = np.sum(s,axis=0)

for i in arr:
    if i != 45:
        print("For columns Sudoku is not valid!")
        break
else:
    print("For columns Sudoku is valid!")

For columns Sudoku is valid!

In [28]:
# for 3 x 3 blocks

vsplit = np.vsplit(s,3)

s[:3, :3]

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [29]:
s

array([[5, 3, 4, 6, 7, 8, 9, 1, 2],
       [6, 7, 2, 1, 9, 5, 3, 4, 8],
       [1, 9, 8, 3, 4, 2, 5, 6, 7],
       [8, 5, 9, 7, 6, 1, 4, 2, 3],
       [4, 2, 6, 8, 5, 3, 7, 9, 1],
       [7, 1, 3, 9, 2, 4, 8, 5, 6],
       [9, 6, 1, 5, 3, 7, 2, 8, 4],
       [2, 8, 7, 4, 1, 9, 6, 3, 5],
       [3, 4, 5, 2, 8, 6, 1, 7, 9]])

In [7]:
for i in range(0,9,3):
    for j in range(0,9,3):
        n = s[i:i+3, j:j+3]
        
        if n.sum() != 45:
            print(n, " => Sudoku is not valid!")
        else:
            print(n, " => Sudoku is valid!")

[[5 3 4]
 [6 7 2]
 [1 9 8]]  => Sudoku is valid!
[[6 7 8]
 [1 9 5]
 [3 4 2]]  => Sudoku is valid!
[[9 1 2]
 [3 4 8]
 [5 6 7]]  => Sudoku is valid!
[[8 5 9]
 [4 2 6]
 [7 1 3]]  => Sudoku is valid!
[[7 6 1]
 [8 5 3]
 [9 2 4]]  => Sudoku is valid!
[[4 2 3]
 [7 9 1]
 [8 5 6]]  => Sudoku is valid!
[[9 6 1]
 [2 8 7]
 [3 4 5]]  => Sudoku is valid!
[[5 3 7]
 [4 1 9]
 [2 8 6]]  => Sudoku is valid!
[[2 8 4]
 [6 3 5]
 [1 7 9]]  => Sudoku is valid!

**General Questions**

In [223]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [224]:
#Get the shape of the matrix.
data.shape

(5, 3)

In [152]:
#Find the average age of students.

# age = np.sum(data, axis=0)
# avg = age[0] / 5
# avg

np.mean(data[:,0])

np.float64(18.4)

In [153]:
#Extract Math marks of all students.


# marks = []
# for i in data:
#     marks.append(i[1])
    
# clean = [int(mark) for mark in marks]
# print("Maths marks :", clean)

print(data[:,1])

[85 92 76 65 90]

In [155]:
#Find the highest Science mark.


# marks = []
# for i in data:
#     marks.append(i[2])

# print("Highest Science marks :", np.max(marks))

np.max(data[:,2])

np.int64(95)

In [205]:
#Get details of the student who scored more than 90 in Math.

# for i in data:
#     if i[1] >= 90:
#         print(i)

data[data[:,1] > 90]

array([[19, 92, 88]])

In [207]:
#Increase Math marks of all students by 5.

# for i in data:
#     print(i[1] + 5)

data[:,1] += 5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [210]:
#Find how many students are younger than 19.
# count = 0
# for i in data:
#     if i[0] > 19:
#         count += 1
# count

len(data[data[:,0] < 19])

3

In [216]:
#Calculate the average marks in each subject (column-wise mean).

np.mean(data[:,1:], axis=0)

array([86.6, 83.2])

In [219]:
#Get data of students who scored at least 80 in both subjects.

# for i in data:
#     if i[1] >= 80 and i[2] >= 80:
#         print(i)

data[(data[:,1] >= 80) & (data[:,2] >= 80)]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [229]:
#Replace all Science marks < 75 with 0.

# for i in data:
#     if i[2] < 85:
#         i[2] = 0
#     print(i[2])

data[:,2][data[:,2] < 85] = 0
data

array([[18, 85,  0],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65,  0],
       [20, 90, 85]])